main > .about{
    width: 50vw;
    margin: 16px auto;
    padding: 16px;
    border-radius: 20px;
    border: 1px solid #ffffff;
}

main > .about .content{
    display: grid;
    align-items: center;
    justify-content: flex-start;
    grid-template-columns: 1fr 2fr;
}

main > .about img{
    border-radius: 50%;
    height: 35vh;
    border: 1.5px solid #fffffe;

}
main > .about .text-about{
    margin-left: 2vw;

}
main > .about .text-about h1{
    font-weight: 500;
    font-size: 2rem;
    color: #fffffe;
}

main > .about .text-about p{
    color: #94a1b2;
    font-size: 1.1rem;
    font-weight: 300;
}

main > .about li{
    display: flex;
    align-items: center;
    color: #94a1b2;
    font-size: 1.2rem;
    margin: 2vh 0vw;
    padding: 0;
}

main > .about ion-icon{
    height: 3vh;
    margin: 2vh 0vw;
    padding: 0;
}

main > .about a{
    text-decoration: none;
}

main > .about button{
    display: flex;
    align-items: center;
    height: 7vh;
    color: #fffffe;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 15px;
    border-radius: 15px;
    background-color: #01010100;
    border: 2px solid #72757e;


}

main > .about button ion-icon{
    height: 3vh;
}
