section {
    margin-top: 20vh;
}

section > .text-projetos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;

}

section > .text-projetos h1{
    font-size: 5rem;
    font-weight: 300;
}

section > .text-projetos p{
    color: #94a1b2;
    line-height: 4vh;
    font-size: 1.125rem;
    word-spacing: 0.4rem;
}

section > .cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section > .cards > .content{
    display: flex;
    align-items: center;
    flex-direction: column;
}

section > .cards > .content img{
    height: 55vh;
}
section > .cards > .content .text-project{
    margin: 20px;
}
section > .cards >.content h3{
    font-size: 2rem;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 0.5rem;

    text-align: center;
}

section > .cards >.content p{
    font-size: 1.125rem;
    color: #94a1b2;
}

section > .cards > .content ion-icon[name="logo-html5"]{
    color: #EC6231;
}

section > .cards > .content ion-icon[name="logo-css3"]{
    color: #663399;
}

section > .cards > .content ion-icon{
    height: 2.25rem;
    margin: 0;
    padding: 0;
}
